#Artefatos gerados pelo Quarto
*_files/
*.html

#Cache do Python
__pycache__/
*.pyc

.vscode/settings.json

# Configuração pessoal do editor
.vscode/settings.json

# Sujeira de sistema operacional
.DS_Store
Thumbs.db
/.quarto/
**/*.quarto_ipynb

# Python package build artifacts
*.egg-info/
